<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>collegeAlumniPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DisplayQuery</display-name>
    <servlet-name>DisplayQuery</servlet-name>
    <servlet-class>com.servlet.DisplayQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayQuery</servlet-name>
    <url-pattern>/DisplayQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProfile</display-name>
    <servlet-name>DisplayProfile</servlet-name>
    <servlet-class>com.servlet.DisplayProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProfile</servlet-name>
    <url-pattern>/DisplayProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPlacement</display-name>
    <servlet-name>DisplayPlacement</servlet-name>
    <servlet-class>com.servlet.DisplayPlacement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPlacement</servlet-name>
    <url-pattern>/DisplayPlacement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayImage</display-name>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>com.servlet.DisplayImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayFeedback</display-name>
    <servlet-name>DisplayFeedback</servlet-name>
    <servlet-class>com.servlet.DisplayFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayFeedback</servlet-name>
    <url-pattern>/DisplayFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayEvent</display-name>
    <servlet-name>DisplayEvent</servlet-name>
    <servlet-class>com.servlet.DisplayEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayEvent</servlet-name>
    <url-pattern>/DisplayEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gallery</display-name>
    <servlet-name>Gallery</servlet-name>
    <servlet-class>com.servlet.Gallery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gallery</servlet-name>
    <url-pattern>/Gallery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>generateReport</display-name>
    <servlet-name>generateReport</servlet-name>
    <servlet-class>com.servlet.generateReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generateReport</servlet-name>
    <url-pattern>/generateReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateAndCityServlet</display-name>
    <servlet-name>StateAndCityServlet</servlet-name>
    <servlet-class>com.servlet.StateAndCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateAndCityServlet</servlet-name>
    <url-pattern>/StateAndCityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrationServlet</display-name>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>com.servlet.registrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventServlet</display-name>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>com.servlet.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/EventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveReport</display-name>
    <servlet-name>saveReport</servlet-name>
    <servlet-class>com.servlet.saveReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveReport</servlet-name>
    <url-pattern>/saveReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>placementServlet</display-name>
    <servlet-name>placementServlet</servlet-name>
    <servlet-class>com.servlet.placementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>placementServlet</servlet-name>
    <url-pattern>/placementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>com.servlet.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/QueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>com.servlet.Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeUserStatus</display-name>
    <servlet-name>ChangeUserStatus</servlet-name>
    <servlet-class>com.servlet.ChangeUserStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserStatus</servlet-name>
    <url-pattern>/ChangeUserStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordServlet</display-name>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>com.servlet.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEvent</display-name>
    <servlet-name>UpdateEvent</servlet-name>
    <servlet-class>com.servlet.UpdateEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEvent</servlet-name>
    <url-pattern>/UpdateEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePlacement</display-name>
    <servlet-name>UpdatePlacement</servlet-name>
    <servlet-class>com.servlet.UpdatePlacement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePlacement</servlet-name>
    <url-pattern>/UpdatePlacement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEvent</display-name>
    <servlet-name>DeleteEvent</servlet-name>
    <servlet-class>com.servlet.DeleteEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEvent</servlet-name>
    <url-pattern>/DeleteEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletefeedback</display-name>
    <servlet-name>Deletefeedback</servlet-name>
    <servlet-class>com.servlet.Deletefeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletefeedback</servlet-name>
    <url-pattern>/Deletefeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteImage</display-name>
    <servlet-name>DeleteImage</servlet-name>
    <servlet-class>com.servlet.DeleteImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteImage</servlet-name>
    <url-pattern>/DeleteImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePlacement</display-name>
    <servlet-name>DeletePlacement</servlet-name>
    <servlet-class>com.servlet.DeletePlacement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlacement</servlet-name>
    <url-pattern>/DeletePlacement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>approveEventServlet</display-name>
    <servlet-name>approveEventServlet</servlet-name>
    <servlet-class>com.servlet.approveEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approveEventServlet</servlet-name>
    <url-pattern>/approveEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>approvePlacementServlet</display-name>
    <servlet-name>approvePlacementServlet</servlet-name>
    <servlet-class>com.servlet.approvePlacementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approvePlacementServlet</servlet-name>
    <url-pattern>/approvePlacementServlet</url-pattern>
  </servlet-mapping>
  
</web-app>