<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>collegeAlumniPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DisplayQuery</display-name>
    <servlet-name>DisplayQuery</servlet-name>
    <servlet-class>com.servlet.DisplayQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayQuery</servlet-name>
    <url-pattern>/DisplayQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProfile</display-name>
    <servlet-name>DisplayProfile</servlet-name>
    <servlet-class>com.servlet.DisplayProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProfile</servlet-name>
    <url-pattern>/DisplayProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPlacement</display-name>
    <servlet-name>DisplayPlacement</servlet-name>
    <servlet-class>com.servlet.DisplayPlacement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPlacement</servlet-name>
    <url-pattern>/DisplayPlacement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayImage</display-name>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>com.servlet.DisplayImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayFeedback</display-name>
    <servlet-name>DisplayFeedback</servlet-name>
    <servlet-class>com.servlet.DisplayFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayFeedback</servlet-name>
    <url-pattern>/DisplayFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayEvent</display-name>
    <servlet-name>DisplayEvent</servlet-name>
    <servlet-class>com.servlet.DisplayEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayEvent</servlet-name>
    <url-pattern>/DisplayEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayData</display-name>
    <servlet-name>DislplayData</servlet-name>
    <servlet-class>com.servlet.DisplayData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayData</servlet-name>
    <url-pattern>/DisplayData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gallery</display-name>
    <servlet-name>Gallery</servlet-name>
    <servlet-class>com.servlet.Gallery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gallery</servlet-name>
    <url-pattern>/Gallery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>generateReport</display-name>
    <servlet-name>generateReport</servlet-name>
    <servlet-class>com.servlet.generateReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generateReport</servlet-name>
    <url-pattern>/generateReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateAndCityServlet</display-name>
    <servlet-name>StateAndCityServlet</servlet-name>
    <servlet-class>com.servlet.StateAndCityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateAndCityServlet</servlet-name>
    <url-pattern>/StateAndCityServlet</url-pattern>
  </servlet-mapping>
</web-app>